$textColor: #fff;
$bgColor: #448AFF;
$width: 960px;

* {
    box-sizing: border-box;
}
.container {
    max-width: $width;
    margin: 0 auto;
    text-align: center;
    border: 4px solid black;

    h1 {
        font-size: 2em;
        color: #fff;
        background-color: gray;
    }

    h2 {
    background-color: $bgColor;
    color: $textColor;
    font-size: 30px;
    }

    table {
        margin: 5px;

        tr, td {
            padding: 30px;
        }
    }

    #footer {
        background-color: pink;
    }
}